<!doctype html>
{% load static%}
{% load role_tags %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Dashboard | Video Analytics System</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
        <meta content="Themesdesign" name="author" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}">

        <!-- plugin css -->
        <link href="{% static 'assets/libs/jsvectormap/jsvectormap.min.css' %}" rel="stylesheet" type="text/css" />

        <!-- Layout Js -->
        <script src="{% static 'assets/js/layout.js' %}"></script>
        <!-- Bootstrap Css -->
        <link href="{% static 'assets/css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
        <link href="{% static 'assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link href="{% static 'assets/css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css" />
    </head>
    <body data-sidebar="colored">
    
    <!-- <body data-layout="horizontal" data-topbar="dark"> -->

        <!-- Begin page -->
        <div id="layout-wrapper">
            <header id="page-topbar">
                <div class="navbar-header">
                    <div class="d-flex">
                          <!-- LOGO -->
                        <div class="navbar-brand-box">
                            <a href="{% url 'view_mills'  %}" class="logo logo-light">
                                <span class="logo-sm">
                                    <img src="{% static 'assets/images/logo-light.png' %}" alt="logo-sm-light" height="24">
                                </span>
                                <span class="logo-lg">
                                    <img src="{% static 'assets/images/logo-sm-light.png' %}" alt="logo-light" height="25">
                                </span>
                            </a>
                        </div>

                        <button type="button" class="btn btn-sm px-3 font-size-24 header-item waves-effect vertical-menu-btn" id="vertical-menu-btn">
                            <i class="ri-menu-2-line align-middle"></i>
                        </button>

                        
            
                      <!-- start page title -->
                      <div class="page-title-box align-self-center d-none d-md-block">
                        <h4 class="page-title mb-0">Dashboard</h4>
                      </div>
                      <!-- end page title -->
                    </div>

                    <div class="d-flex">
                        <div class="dropdown d-none d-lg-inline-block ms-1">
                            <button type="button" class="btn header-item noti-icon waves-effect" data-toggle="fullscreen">
                                <i class="ri-fullscreen-line"></i>
                            </button>
                        </div>            
                    </div>
                </div>
            </header>



            <!-- ========== Left Sidebar Start ========== -->
            <div class="vertical-menu">
              

                 <!-- LOGO -->
                 <div class="navbar-brand-box">
                    <a href="{% url  'view_mills' %}" class="logo logo-light">
                        <span class="logo-sm">
                            <img src="{% static 'assets/images/fbr-logo-white.png' %}" alt="logo-sm-light" height="24" style="margin-inline-start: -7px;">
                        </span>
                        <span class="logo-lg">
                            <img src="{% static 'assets/images/fbr-logo-white.png' %}" alt="logo-light" height="80" style="margin-inline-start: -22px;">
                        </span>
                    </a>
                </div>

                {% comment %} <button type="button" class="btn btn-sm px-3 font-size-24 header-item waves-effect vertical-menu-btn" id="vertical-menu-btn">
                    <i class="ri-menu-2-line align-middle"></i>
                </button> {% endcomment %}

                <div data-simplebar class="vertical-scroll">

                    <!--- Sidemenu -->
                    <div id="sidebar-menu">
                        <!-- Left Menu Start -->
                        {% if user.is_authenticated %}
                          <ul class="metismenu list-unstyled" id="side-menu">
                            {% if  request.user.is_superuser  %}
                              <li class="menu-title">Admin Menu</li>
                            {% elif  request.user|has_group:"FBR_officials"  %}
                              <li class="menu-title">FBR Offical Menu</li>
                            {% elif  request.user|has_group:"Inspectors"  %}
                              <li class="menu-title">Supervisor Menu</li>
                            {% elif  request.user|has_group:"Mill_owners"  %}
                                <li class="menu-title">Mill Owner Menu</li>
                            {% else %}
                            {% endif %}
                              
                                {% if  request.user.is_superuser  %}
                                    
                                    <li>
                                        <a href="#" class="has-arrow waves-effect">
                                            <i class=" ri-account-circle-line"></i>
                                            <span>Users</span>
                                        </a>
                                        <ul class="sub-menu">

                                            <li><a href="{% url 'add_fbr_oficials' %}">Add FBR Official</a></li>
                                            <li><a href="{% url 'view_fbr_oficials' %}">FBR Officials List</a></li>
                                            <li><a href="{% url 'add_inspector' %}">Add Supervisor</a></li>
                                            <li><a href="{% url 'list_inspectors' %}">Supervisors List</a></li>

                                        </ul>
                                    </li>

                                    <!--User Activity log-->

                                    <li>
                                        <a href="#" class="has-arrow waves-effect">
                                            <i class=" ri-article-line"></i>
                                            <span>Activity Log</span>
                                        </a>
                                        <ul class="sub-menu">
                                            <li><a href="{% url 'users_login_logout_activities_log' %}">User Activity Log</a></li>                                          
                                        </ul>
                                    </li>

                                     <!--Mill & Units-->
                                    <li>
                                        <a href="#" class="has-arrow waves-effect">
                                            <i class="ri-building-line"></i>
                                            <span>Mills & Units</span>
                                        </a>
                                        <ul class="sub-menu" >
                                            
                                            <li><a href="{% url 'add_mill_by_fbr_official' %}">Add Mill</a></li>
                                            <li><a href="{% url 'mills_list' %}">All Mills List</a></li>
                                            <li><a href="{% url 'view_mills' %}">All Units List</a></li>

                                        </ul>
                                    </li>

                                    <!--Inspections & Reports-->
                                    <li>
                                        <a href="#" class="has-arrow waves-effect">
                                            <i class=" ri-file-list-3-line"></i>
                                            <span>Inspections & Reports</span>
                                        </a>
                                        <ul class="sub-menu">

                                            <li><a href="{% url 'view_inspection_reports' %}">Inspection Reports List</a></li>
                                            
                                        </ul>
                                    </li>
                                
                                    <!--Payments-->
                                    <li>
                                        <a href="#" class="has-arrow waves-effect">
                                            <i class="ri-bank-card-line"></i>
                                            <span>Payment Detail</span>
                                        </a>
                                        <ul class="sub-menu">
                                            
                                            <li><a href="{% url 'add_fbr_paym_acc' %}">Add Payment Account</a></li>
                                            <li><a href="{% url 'list_fbr_payment_accounts' %}">Payment Account List</a></li>
                                            <li><a href="{% url 'payment_records' %}">Payment Record List</a></li>

                                        </ul>
                                    </li>

                                    <!--Payments-->
                                    <li>
                                        <a href="#" class="has-arrow waves-effect">
                                            <i class="ri-bank-card-line"></i>
                                            <span>Invoices</span>
                                        </a>
                                        <ul class="sub-menu">
                                            <li><a href="{% url 'invoices_records' %}">Invoice List</a></li>

                                        </ul>
                                    </li>

                                    <!--Map-->
                                    <li>
                                        <a href="{% url 'view_locations' %}" class="waves-effect">
                                            <i class=" ri-road-map-line"></i>
                                            <span>Maps</span>
                                        </a>
                                    
                                    </li>
                                {% endif %}
                                
                                {% if request.user|has_group:"FBR_officials" %}


                                    <!--Map-->
                                    <li>
                                        <a href="{% url 'view_locations' %}" class="waves-effect">
                                            <i class=" ri-road-map-line"></i>
                                            <span>Maps</span>
                                        </a>
                                    
                                    </li>
                                {% endif %}

                                {% if request.user|has_group:"Inspectors" %}

                                     <!--Mill & Units-->
                                    <li>
                                        <a href="#" class="has-arrow waves-effect">
                                            <i class="ri-building-line"></i>
                                            <span>Mills & Units</span>
                                        </a>
                                        <ul class="sub-menu" aria-expanded="true">

                                            <li><a href="{% url 'mills_list' %}">All Mills List</a></li>
                                            <li><a href="{% url 'view_mills' %}"> All Units List</a></li>

                                        </ul>
                                    </li>

                                    <!--Inspections & Reports-->
                                    <li>
                                        <a href="#" class="has-arrow waves-effect">
                                            <i class=" ri-file-list-3-line"></i>
                                            <span>Inspections & Reports</span>
                                        </a>
                                        <ul class="sub-menu" aria-expanded="true">
                                
                                            <li><a href="{% url 'view_inspection_reports' %}">Inspection Reports List</a></li>
                                            
                                        </ul>
                                    </li>

                                    
                                {% endif %}

                                {% if request.user|has_group:"Mill_owners" %}

                                     <!--Mill & Units-->
                                    <li>
                                        <a href="#" class="has-arrow waves-effect">
                                            <i class="ri-building-line"></i>
                                            <span>Mills & Units</span>
                                        </a>
                                        <ul class="sub-menu" aria-expanded="true">
                                            <li><a href="{% url 'add_mill_by_owner' %}">Add Mill</a></li>
                                            <li><a href="{% url 'mills_list' %}">My Mills List</a></li>
                                            <li><a href="{% url 'view_mills' %}"> My Units List</a></li>

                                        </ul>
                                    </li>

                                    <!--Inspections & Reports-->
                                    <li>
                                        <a href="#" class="has-arrow waves-effect">
                                            <i class=" ri-file-list-3-line"></i>
                                            <span>Inspections & Reports</span>
                                        </a>
                                        <ul class="sub-menu" aria-expanded="true">
                                
                                            <li><a href="{% url 'view_inspection_reports' %}">Inspection Reports List</a></li>
                                            
                                        </ul>
                                    </li>


                                    <li>
                                        <a href="#" class="has-arrow waves-effect">
                                            <i class="ri-bank-card-line"></i>
                                            <span>Payment Account Detail</span>
                                        </a>
                                        <ul class="sub-menu">
                                             
                                            <li><a href="{% url 'list_fbr_payment_accounts' %}">Payment Account List</a></li>
                                            <li><a href="{% url 'payment_records' %}">Payment Record List</a></li>

                                        </ul>
                                    </li>
                                {% endif %}

                            </ul>
                        {% endif %}

                    </div>
                    <!-- Sidebar -->
                </div>

                <div class="dropdown px-3 sidebar-user sidebar-user-info">
                    {% if user.is_authenticated %}
                      <button type="button" class="btn w-100 px-0 border-0" id="page-header-user-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <span class="d-flex align-items-center">
                              <div class="flex-shrink-0">
                                      <img src="{% static 'assets/images/users/fbr-pakistan-logo.png' %}" class="img-fluid header-profile-user rounded-circle" alt="">
                              </div>
                              <div class="flex-grow-1 ms-2 text-start">
                                  <span class="ms-1 fw-medium user-name-text">{{ user.username }}</span>
                              </div>

                              <div class="flex-shrink-0 text-end">
                                  <i class="mdi mdi-dots-vertical font-size-16"></i>
                              </div>
                          </span>
                      </button>
                    
                      <div class="dropdown-menu dropdown-menu-end">
                          <!-- item-->
                          {% if  request.user.is_superuser  %}
                            <a class="dropdown-item" href="{% url 'master_settings' %}"><i class=" ri-settings-3-fill text-muted font-size-16 align-middle me-1"></i> <span class="align-middle">Settings</span></a>
                          {% endif %}
                          <a class="dropdown-item" href="{% url 'logout' %}"><i class="mdi mdi-account-circle text-muted font-size-16 align-middle me-1"></i> <span class="align-middle">Logout</span></a>
                      </div>
                    {% else %}
                      <button type="button" class="btn w-100 px-0 border-0" id="page-header-user-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <span class="d-flex align-items-center">
                              <div class="flex-shrink-0">
                                      <img src="{% static 'assets/images/users/fbr-pakistan-logo.png' %}" class="img-fluid header-profile-user rounded-circle" alt="">
                              </div>
                              
                              <div class="flex-grow-1 ms-2 text-start">
                                  <span class="ms-1 fw-medium user-name-text">Login Dashboard</span>
                              </div>

                              <div class="flex-shrink-0 text-end">
                                  <i class="mdi mdi-dots-vertical font-size-16"></i>
                              </div>
                          </span>
                      </button>

                      <div class="dropdown-menu dropdown-menu-end">
                        <a class="dropdown-item" href="{% url 'login' %}"><i class="mdi mdi-account-circle text-muted font-size-16 align-middle me-1"></i> <span class="align-middle">Login</span></a>
                        <a class="dropdown-item" href="{% url 'register' %}"><i class="mdi mdi-account-circle text-muted font-size-16 align-middle me-1"></i> <span class="align-middle">Register</span></a>
                      </div>

                    {% endif %}

                </div>

            </div>
            <!-- Left Sidebar End -->


            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">
                <div class="page-content">
                    <div class="container-fluid">
                        {% block content %}{% endblock %}

                    </div>
                    <!-- container-fluid -->
                </div>
                <!-- End Page-content -->


                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6">
                                <script>document.write(new Date().getFullYear())</script> © Video Analytics System.
                            </div>
                            <div class="col-sm-6">
                                <div class="text-sm-end d-none d-sm-block">
                                    Crafted with <i class="mdi mdi-heart text-danger"></i> by <a href="https://obsidian.com.pk" target="_blank" rel="noopener noreferrer">Obsidian</a>.
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>

            </div>
            <!-- end main content-->
        </div>
        <!-- END layout-wrapper -->



        <!-- JAVASCRIPT -->
        <script src="{% static 'assets/libs/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'assets/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'assets/libs/metismenu/metisMenu.min.js' %}"></script>
        <script src="{% static 'assets/libs/simplebar/simplebar.min.js' %}"></script>
        <script src="{% static 'assets/libs/node-waves/waves.min.js' %}"></script>

        <!-- Icon -->
        <script src="https://unicons.iconscout.com/release/v2.0.1/script/monochrome/bundle.js"></script>

        <!-- apexcharts -->
        <script src="{% static 'assets/libs/apexcharts/apexcharts.min.js' %}"></script>

        <!-- Vector map-->
        <script src="{% static 'assets/libs/jsvectormap/jsvectormap.min.js' %}"></script>
        <script src="{% static 'assets/libs/jsvectormap/maps/world-merc.js' %}"></script>

        <script src="{% static 'assets/js/pages/dashboard.init.js' %}"></script>

        <!-- App js -->
        <script src="{% static 'assets/js/app.js' %}"></script>
    </body>
    <!-- Start of LiveChat (www.livechat.com) code -->
    <script>
        window.__lc = window.__lc || {};
        window.__lc.license = 19365723;
        window.__lc.integration_name = "manual_channels";
        window.__lc.product_name = "livechat";
        ;(function(n,t,c){function i(n){return e._h?e._h.apply(null,n):e._q.push(n)}var e={_q:[],_h:null,_v:"2.0",on:function(){i(["on",c.call(arguments)])},once:function(){i(["once",c.call(arguments)])},off:function(){i(["off",c.call(arguments)])},get:function(){if(!e._h)throw new Error("[LiveChatWidget] You can't use getters before load.");return i(["get",c.call(arguments)])},call:function(){i(["call",c.call(arguments)])},init:function(){var n=t.createElement("script");n.async=!0,n.type="text/javascript",n.src="https://cdn.livechatinc.com/tracking.js",t.head.appendChild(n)}};!n.__lc.asyncInit&&e.init(),n.LiveChatWidget=n.LiveChatWidget||e}(window,document,[].slice))
    </script>
    <noscript><a href="https://www.livechat.com/chat-with/19365723/" rel="nofollow">Chat with us</a>, powered by <a href="https://www.livechat.com/?welcome" rel="noopener nofollow" target="_blank">LiveChat</a></noscript>
    <!-- End of LiveChat code -->


</html>
