{% extends 'base.html' %} 
{% block content %}

<div class="row">
  <div class="col-xl-12">
    <div class="card shadow mb-4">
        <div class="card-body d-flex justify-content-between align-items-center">
          <h3 class="m-0 text-center w-100 fw-bold">Settings</h3>
        </div>
    </div>
    <div class="card">
      <div class="card-body">
        {% if messages %} 
          {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endfor %} 
        {% endif %}
        <form  method="POST">
          {% csrf_token %}

            <div class="row">
                <div class="col-md-12">
                    <h4 class="card-title" style="font-weight: bold; text-decoration: underline;">Dashboard Settings:</h4>

                    <div class="row mt-4">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Customer Care Number:</label>
                                <input type="text" name="contact" id="contactInput"
                                    value="{{ settings.contact }}"
                                    class="form-control" placeholder="e.g. 03001234567 or 04212345678" required>

                                <small class="text-muted">
                                    Valid formats: 03001234567, 03231234567, 04212345678 (PTCL)
                                </small>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                              <label class="form-label">Upload Notification Document 1 (JPG / JPEG / PNG):</label>
                              <input type="file" name="notif_doc_1" class="form-control" accept=".pdf.jpg,.jpeg,.png">
                              <small class="text-muted">Max size: 10MB</small>
                            </div>
                        </div>
                    </div>
                    
                  <div class="row mt-4">
                      <div class="col-md-6">
                          <div class="mb-3">
                            <label class="form-label">Upload Notification Document 2  (JPG / JPEG / PNG):</label>
                            <input type="file" name="notif_doc_2" class="form-control" accept=".pdf.jpg,.jpeg,.png">
                            <small class="text-muted">Max size: 10MB</small>
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="mb-3">
                            <label class="form-label">Upload Term & Conditions Document (JPG / JPEG / PNG):</label>
                            <input type="file" name="term_cond_doc" class="form-control" accept=".pdf.jpg,.jpeg,.png">
                            <small class="text-muted">Max size: 10MB</small>
                          </div>
                      </div>
                  </div> 
                    
                </div>                    
            </div>
            <div class="text-end">
                <button class="btn btn-primary" type="submit">Update Settings</button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>


<script>
document.addEventListener("DOMContentLoaded", function () {
    const input = document.getElementById("contactInput");
    const pattern = /^(03[0-9]{9}|0[0-9]{10})$/;

    input.addEventListener("input", function () {
        if (!pattern.test(this.value)) {
            this.classList.add("is-invalid");
        } else {
            this.classList.remove("is-invalid");
        }
    });
});
</script>
{% endblock %}
