{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-12">

        <!-- Header Card -->
        <div class="card shadow mb-4">
           <div class="card-body d-flex flex-column justify-content-center align-items-center text-center">
                <h3 class="fw-bold mb-2">Mills Map</h3>
                <p class="text-muted mb-0">Showing all mills with geo locations</p>
            </div>
        </div>

        <div class="card">
            <div id="map" style="height: 600px;"></div>
        </div>
    
    </div>
</div>

<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"/>

<script>
var map = L.map('map').setView([30.3753, 69.3451], 6); // Pakistan center

L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 18
}).addTo(map);

function loadMills(page = 1) {
    fetch(`/api/mills-data/?page=${page}`)
    .then(res => res.json())
    .then(data => {
        data.mills.forEach(m => {
            if (!m.lat || !m.lon) return;

            let marker = L.marker([m.lat, m.lon]).addTo(map);

            marker.bindPopup(`
                <b>${m["mill__name"]}</b><br>
                Address: ${m.address}<br>
                NTN: ${m.ntn || 'N/A'}<br>
                GST: ${m.gst || 'N/A'}<br>
                Spindles: ${m.spindles_installed || 'N/A'}<br>
                Rotors: ${m.rotors_installed || 'N/A'}<br>
                Doubling Machines: ${m.doubling_machines_installed || 'N/A'}<br>
            `);
        });

        if (data.has_next) loadMills(page + 1);
    });
}

loadMills();
</script>
{% endblock %}
