{% extends 'base.html' %} 
{% block content %}

<div class="row">
  <div class="col-xl-12">
    <div class="card shadow mb-4">
        <div class="card-body d-flex justify-content-between align-items-center">
          <h3 class="m-0 text-center w-100 fw-bold">Add Mill</h3>
        </div>
    </div>
    <div class="card">
      <div class="card-body">
        {% if messages %} 
          {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endfor %} 
        {% endif %}
        <form  method="POST" action="{% url 'add_mill_by_owner' %}" >
          {% csrf_token %}

          <div class="row">
            <div class="col-md-12">
              <h4 class="card-title" style="font-weight: bold; text-decoration: underline;">Mill Information:</h4>
              <div class="mb-3">
                <label class="form-label">Mill Name</label>
                <input type="text" name="name" class="form-control" required />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <h4 class="card-title" style="font-weight: bold; text-decoration: underline;">Mill Unit Information:</h4>
              <div class="mb-3">
                <label class="form-label">Unit Address</label>      
                <input type="text" id="unit_address" name="address" class="form-control" placeholder="Start typing address..." autocomplete="off" required>
                <div id="addressSuggestions" class="list-group position-absolute w-100" style="z-index:1000;"></div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <label class="form-label">NTN</label>
                <input
                  type="text"
                  name="ntn"
                  class="form-control"
                  placeholder="NTN"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label class="form-label">GST</label>
                <input
                  type="number"
                  name="gst"
                  class="form-control"
                  placeholder="GST"
                />
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-md-4">
              <div class="mb-3">
                <label class="form-label">Spindles Installed</label>
                <input
                  type="number"
                  name="spindles_installed"
                  class="form-control"
                  placeholder="Spindles Installed"
                />
              </div>
            </div>
            <div class="col-md-4">
              <div class="mb-3">
                <label class="form-label">Rotors Installed</label>
                <input
                  type="number"
                  name="rotors_installed"
                  class="form-control"
                  placeholder="Rotors Installed"
                />
              </div>
            </div>

            <div class="col-md-4">
              <div class="mb-3">
                <label class="form-label">Doubling Machines Installed</label>
                <input
                  type="number"
                  name="doubling_machines_installed"
                  class="form-control"
                  placeholder="Doubling Machines Installed"
                />
              </div>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-md-12">
              <h4 class="card-title" style="font-weight: bold; text-decoration: underline;">Authorised Point of Contact:</h4>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-6">
              <div class="mb-3">
                  <label class="form-label">Email</label>
                  <input type="email" name="authorized_p_email" class="form-control" required>
              </div>              
            </div>
            <div class="col-md-6">              
              <div class="mb-3">
                  <label class="form-label">Contact</label>
                  <input type="tel" name="authorized_p_contact" class="form-control" required>
              </div>              
            </div>
          </div>

          <div class="row mt-4">
            <div class="col-md-12">
              <h4 class="card-title" style="font-weight: bold; text-decoration: underline;">Senior Point of Contact:</h4>              
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-6">
              <div class="mb-3">
                <label class="form-label">Email</label>
                <input type="email" name="senior_p_email" class="form-control" required>        
              </div>              
            </div>
            <div class="col-md-6">              
              <div class="mb-3">
                  <label class="form-label">Contact</label>
                  <input type="tel" name="senior_p_contact" class="form-control" required>
              </div>              
            </div>
          </div>

          <div style="display: none;">
            <input type="text" id="lat" name="lat" class="form-control" />
            <input type="text" id="lon" name="lon" class="form-control" />
          </div>

          <div class="text-end">
            <button class="btn btn-primary" type="submit">Submit Mill</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>



<script>
const input = document.getElementById("unit_address");
const suggestionsBox = document.getElementById("addressSuggestions");

input.addEventListener("input", function() {
  let query = this.value;

  if (query.length < 3) {
    suggestionsBox.innerHTML = "";
    return;
  }

  fetch(`https://nominatim.openstreetmap.org/search?format=json&countrycodes=pk&q=${query}`)
    .then(response => response.json())
    .then(data => {
      suggestionsBox.innerHTML = "";
      data.forEach(place => {
        suggestionsBox.innerHTML += `
          <button type="button" class="list-group-item list-group-item-action" 
            onclick="selectAddress('${place.display_name.replace(/'/g, "\\'")}', '${place.lat}', '${place.lon}')">
            ${place.display_name}
          </button>
        `;
      });
    });
});

function selectAddress(address, lat, lon) {
  input.value = address;
  document.getElementById("lat").value = lat;
  document.getElementById("lon").value = lon;
  suggestionsBox.innerHTML = "";
}
</script>
{% endblock %}
