{% extends 'base.html' %}
{% load role_tags %}
{% block content %}

<div class="row">
    <div class="col-12">
        <!-- Header Card -->
        <div class="card shadow mb-4">
            <div class="card-body d-flex justify-content-between align-items-center">
                {% if request.user.is_superuser %}
                    <h3 class="m-0 text-center w-100 fw-bold"> All Invoices List</h3>
                {% elif request.user|has_group:"Mill_owners" %}
                    <h3 class="m-0 text-center w-100 fw-bold"> My Invoices List</h3>
                {% else %}
                {% endif %}
            </div>
        </div>    
        {% if messages %} 
          {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endfor %} 
        {% endif %}
        <div class="card">
            <div class="card-header border-0 align-items-center d-flex pb-0">
                <h4 class="card-title mb-0 flex-grow-1">Invoices List</h4>
                
            </div>

            <div class="card-body pt-2">
                <div class="table-responsive">
                    {% if Invoices %}
                        <table class="table table-bordered align-middle table-nowrap mb-0 text-center">
                            <thead class="table-light">
                                <tr>
                                    <th>Sr. No.</th>
                                    <th>Unit ID</th>
                                    <th>Invoice Number</th>
                                    <th>Total Amount</th>
                                    <th>Payment  Record  Status</th> 
                                    <th>Download Invoice</th>
                                    <th>Download  Payment  attachment</th>
                                    <th>Action</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for invoice in Invoices %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ invoice.mill_unit_invoices_id }}</td>
                                        <td>{{ invoice.invoice_no }} </td>
                                        <td>{{ invoice.remittance_amount }} </td>   
                                        <td>{{ invoice.invoice_paid_payment_proof.status_title }} </td>                                     
 
                                        <!-- Download -->
                                        <td>
                                            {% if invoice.pdf_file %}
                                                {% with url=invoice.pdf_file.url|lower %}
                                                    <a href="{{ invoice.pdf_file.url }}" download class="btn btn-sm btn-outline-secondary w-100">
                                                        Download PDF
                                                    </a> 
                                                {% endwith %}
                                            {% else %}
                                                <span class="text-muted">-</span>
                                            {% endif %}
                                        </td>


                                        <td>
                                            {% if request.user.is_superuser %}
                                                {%  if  invoice.invoice_paid_payment_proof   %}

                                                    {% if   invoice.invoice_paid_payment_proof.attachment %}
                                                        {% with  url=invoice.invoice_paid_payment_proof.attachment.url|lower %}
                                                            {% if url|slice:"-4:" == ".pdf" %}
                                                                <a href="{{  invoice.invoice_paid_payment_proof.attachment.url }}" download class="btn btn-sm btn-outline-secondary w-100">
                                                                    Download PDF
                                                                </a>
                                                            {% elif url|slice:"-4:" == ".jpg" or url|slice:"-5:" == ".jpeg" or url|slice:"-4:" == ".png" %}
                                                                <a href="{{  invoice.invoice_paid_payment_proof.attachment.url }}" download class="btn btn-sm btn-outline-secondary w-100">
                                                                    Download Image
                                                                </a>
                                                            {% else %}
                                                                <a href="{{ invoice.invoice_paid_payment_proof.attachment.url }}" download class="btn btn-sm btn-outline-secondary w-100">
                                                                    Download File
                                                                </a>
                                                            {% endif %}
                                                        {% endwith %}
                                                    {% else %}
                                                        <span class="text-muted">No  attachment</span>
                                                    {% endif %}
                                                    
                                                    
                                                     

                                                {%  else %}
                                                   <span>payment  yet  not  submitted</span>
                                                {% endif %}
                                            {% elif request.user|has_group:"Mill_owners" %}

                                                {%  if  invoice.invoice_paid_payment_proof   %}

                                                    {% if   invoice.invoice_paid_payment_proof.attachment %}
                                                        {% with  url=invoice.invoice_paid_payment_proof.attachment.url|lower %}
                                                            {% if url|slice:"-4:" == ".pdf" %}
                                                                <a href="{{  invoice.invoice_paid_payment_proof.attachment.url }}" download class="btn btn-sm btn-outline-secondary w-100">
                                                                    Download PDF
                                                                </a>
                                                            {% elif url|slice:"-4:" == ".jpg" or url|slice:"-5:" == ".jpeg" or url|slice:"-4:" == ".png" %}
                                                                <a href="{{  invoice.invoice_paid_payment_proof.attachment.url }}" download class="btn btn-sm btn-outline-secondary w-100">
                                                                    Download Image
                                                                </a>
                                                            {% else %}
                                                                <a href="{{ invoice.invoice_paid_payment_proof.attachment.url }}" download class="btn btn-sm btn-outline-secondary w-100">
                                                                    Download File
                                                                </a>
                                                            {% endif %}
                                                        {% endwith %}
                                                    {% else %}
                                                        <span class="text-muted">No  attachment</span>
                                                    {% endif %}
                                                    
                                                    
                                                     

                                                {%  else %}
                                                   <span>payment  yet  not  submitted</span>
                                                {% endif %}
                                                
                                            {% else %}
                                            {% endif %}
                                             
                                        </td>

                                        <!-- Actions -->
                                        <td>                                              
                                            {% if request.user.is_superuser %}
                                                {%  if  invoice.invoice_paid_payment_proof   %}
                                                    
                                                    
                                                    {%  if   invoice.invoice_paid_payment_proof.is_approved  %}
                                                        <span>Invoice  Payment  Analyzed</span>
                                                    {%  else %}
                                                        <a href="{% url 'analyze_invoice_payment' invoice.id %}"  class="btn btn-success btn-sm w-100">
                                                            Analyze Invoice payment  record
                                                        </a>
                                                    {% endif %}

                                                {%  else %}
                                                   <span>payment  yet  not  submitted</span>
                                                {% endif %}
                                            {% elif request.user|has_group:"Mill_owners" %}
                                               {%  if   invoice.invoice_paid_payment_proof  %}
                                                    <span>Invoice  payment  record  already  submitted</span>
                                                {%  else %}
                                                    <a href="{% url 'add_payment_record_to_invoice' invoice.id %}"  class="btn btn-success btn-sm w-100">
                                                        Upload Payment Record
                                                    </a>
                                                {% endif %}
                                            {% else %}
                                            {% endif %}
                                            
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <div class="alert alert-info text-center mt-3">
                            No Invoice Records Found.
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}
